<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.students.mapper.StuMyIndexHtmlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.students.entity.StuMyIndexHtml">
        <id column="stu_number" property="stuNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stu_number AS "stuNumber"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.students.model.result.StuMyIndexHtmlResult" parameterType="cn.stylefeng.guns.modular.students.model.params.StuMyIndexHtmlParam">
        select
        <include refid="Base_Column_List"/>
        from stu_my_index_html where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.students.model.params.StuMyIndexHtmlParam">
        select
        <include refid="Base_Column_List"/>
        from stu_my_index_html where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.students.model.result.StuMyIndexHtmlResult" parameterType="cn.stylefeng.guns.modular.students.model.params.StuMyIndexHtmlParam">
        select
        <include refid="Base_Column_List"/>
        from stu_my_index_html where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.students.model.params.StuMyIndexHtmlParam">
        select
        <include refid="Base_Column_List"/>
        from stu_my_index_html where 1 = 1
    </select>

</mapper>
