<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.students.mapper.StuResumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.students.entity.StuResume">
        <id column="stu_number" property="stuNumber" />
        <result column="Political_Status" property="politicalStatus" />
        <result column="hobby" property="hobby" />
        <result column="principal_sheet" property="principalSheet" />
        <result column="health_condition" property="healthCondition" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Political_Status AS "politicalStatus", hobby AS "hobby", principal_sheet AS "principalSheet", health_condition AS "healthCondition", stu_number AS "stuNumber"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.students.model.result.StuResumeResult" parameterType="cn.stylefeng.guns.modular.students.model.params.StuResumeParam">
        select
        <include refid="Base_Column_List"/>
        from stu_resume where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.students.model.params.StuResumeParam">
        select
        <include refid="Base_Column_List"/>
        from stu_resume where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.students.model.result.StuResumeResult" parameterType="cn.stylefeng.guns.modular.students.model.params.StuResumeParam">
        select
        <include refid="Base_Column_List"/>
        from stu_resume where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.students.model.params.StuResumeParam">
        select
        <include refid="Base_Column_List"/>
        from stu_resume where 1 = 1
    </select>

</mapper>
